<%= render 'defaulterror/errors', obj: @staff %>
<div class='row'>
<div class='col-xs-12'>



<%= form_for(@staff,:html => {class: "form-horizontal", role: "form"}) do |f| %>
<div class="panel panel-default">
	 <div class="panel-heading">
		 <h4><%= t('.sign_in', :default => "Staffs") %></h4>
		 </div>


<div class="panel-body">
		<div class="form-group">
			<%= f.label :Name %><br>
    <%= f.text_field :staffName,:maxlength => 55,class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :Email_Address %><br>
    <%= f.text_field :staffEmail ,:maxlength => 50, class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :Phone_Number %><br>
    <%= f.text_field :staffPhoneNo,:maxlength => 11, class: "form-control"%>
  </div>
  
  <div class="form-group">
		<%= f.label :Staff_Role %><br>
    <%= f.text_field :staffRole, :maxlength => 30,class: "form-control"%>
  </div>
  
  <div class="form-group">
    <%= f.label :Bank_Location %><br>
    <%= f.select :workAtBranch, options_for_select([['Hounslow'],['Kingston'],['Richmond'],['Twickenham']], params[:workAtBranch]),{}, { class: "form-control"} %>
	</div>

  
  
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
