<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.staffName %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @staff.staffEmail %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @staff.staffPhoneNo %>
</p>

<p>
  <strong>Staff Role:</strong>
  <%= @staff.staffRole %>
</p>


<p>
  <strong>Branch Location:</strong>
  <%= @staff.workAtBranch%>
</p>

<%= link_to 'Edit', edit_staff_path(@staff), class: "btn btn-primary" %> |
<%= link_to 'Back', staffs_path, class: "btn btn-primary" %>
