<% if current_user.try(:admin?) %>
    <h3 align="center">ABC Bank's Total Number of Accounts: <%= @accounts.count %></h3>
    <%= render 'accounts/account', obj: @accounts %>
<% else if current_user %>

<% if current_user.verify==true %>
<h1 align="center"> Welcome to ABC Bank new Website, You will be able to access your account once we Verify your Documents. </h1>
 <% else %>
<%= render 'transactions/transaction', obj: @transactions%>
<% end %>


  <% else %>
  <div class="jumbotron" align='center'>
    <h2>Welcome to the ABC Bank New Website</h2>
    <p class="lead">
      You'll love managing your Accounts with our application. Sign up!
    </p>
  </div>

  <div class="row">
    <div class="plans clearfix">
      
      
      <div class="col-lg-5 col-lg-offset-2 plan">
        <h2>Existing Customers</h2>
     
        <div class="features">
          <ul>
            <li>Manage Your Accounts</li>
            <li>Transactions Details</li>
            <li>Overdraft Facility</li>
            <li>Edit Personal Details</li>
          </ul>
        </div>
        <p>
         
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary sign-in' %>
        </p>
      </div>
      
      
      <div class="col-lg-3 plan">
        <h2>New Customers</h2>
      
        <div class="features">
          <ul>
              <li>Manage Your Accounts</li>
            <li>Transactions Details</li>
            <li>Overdraft Facility</li>
            <li>Edit Personal Details</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>
    </div>
 <% end %>
 
  <% end %>
 