<div class="page-header">
  
  <style type="text/css">
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

</style>
    <h3 align="center">Customers Details</h3>
   <div class="contextual">
  </div>
</div>
 <h4 align="left" style="font-family:verdana">Total Number of Customers: <%= @accounts.count %></h4> <hr>


<table class="blueTable">
<thead>
<tr>
  <th colspan="1">Account Number</th>
	<th colspan="1">Customer Name </th>
	<th colspan="1">Date Of Birth </th>
	<th colspan="1">Phone Number</th>
  <th colspan="1">Account Type</th>
  <th colspan="1">Account Balance</th>
  <th colspan="1">Overdraft Limit </th>
	<th colspan="1">Branch Location </th>
	<th colspan="1">Update </th>
</tr>
</thead>

  <tbody>
    <% obj.each do |account| %>
      <tr>
	      <td><%= account.c_id %></td>
	  	  <td><%= account.userName.upcase %></td>
	  	  <td><%= account.dob %></td>
	  	  <td><%= account.userPhoneNo %></td>
        <td><%= account.accountType %></td>
        <td><%= account.balance %></td>
        <td><%= account.overdraftLimit %></td>
        <td><%= account.bankLocation %></td>

				<td><%= link_to 'View ', account %>
				<%= link_to 'Edit', edit_account_path(account) %>
				<%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<%= link_to 'Open New Account', new_account_path, class: "btn btn-primary" %>
<div align="center">
<%= will_paginate @accounts %>
</div>