<p id="notice"><%= notice %></p>



<p>
  <strong>Account Number:</strong>
 <%= @account.c_id %>
</p>

<p>
  <strong>Customer Name:</strong>
  <%= @account.userName %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @account.dob %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @account.userPhoneNo %>
</p>
<p>
  <strong>Address:</strong>
  <%= @account.userAddress %>
</p>

<p>
  <strong>Account Type:</strong>
  <%= @account.accountType %>
</p>

<p>
  <strong>Account Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Overdraft Limit:</strong>
  <%= @account.overdraftLimit %>
</p>

<p>
  <strong>Branch Location:</strong>
  <%= @account.bankLocation %>
</p>

<%= link_to 'Edit Account', edit_account_path(@account), class: "btn btn-primary" %> |
<%= link_to 'Back', accounts_path, class: "btn btn-primary" %>


<br/><br/>
<br/><br/>